.alert {
    &-primary, &-danger {
        border-radius: 10px;
        color: get-color( 'light' );
        font-size: 1.15rem;
        letter-spacing: 5px;
        margin: 0.5rem;
        padding: 15px;
        width: calc( 100% - 1rem - 30px );
    }

    &-primary {
        background: get-color( 'primary' );
    }

    &-danger {
        background: reduce-color( 'danger', 20 );
    }
}