// Solid Buttons (Placeholder selector)
%btn {
    border: {
        radius: 5px;
        style: none;
    }
    box-shadow: 2px 2px 6px 2px rgba( 0, 0, 0, 0.2 );
    color: #fff;
    font-size: 16px;
    height: 40px;
    margin:  5px 0;
    min-width: 100px;

    &:hover {
        cursor: pointer;
    }
}

.btn- {
    // Nesting nombre de clases
    &primary,
    &success,
    &danger {
        @extend %btn;
    }

    &primary {  background: $primary;   }
    &success {  background: $success;    }
    &danger {   background: $danger;    }
}

// Creamos un mixin para refactorizar el .btn-outline
@mixin button( $name, $color ) {
    &-#{ $name } {
        border: 1px solid $color;
        border-radius: 5px;
        box-shadow: 2px 2px 6px 2px rgba( $color, 0.2 );
        color: $color;
        font-size: 16px;
        height: 40px;
        margin:  5px 0;
        min-width: 100px;
        transition: .5s all ease-in-out;

        &:hover {
            background-color: $color;
            color: #fff;
        }
    }
}

// Outline Buttons (Parent selector)
.btn-outline {
    background-color: transparent;
    font-size: 16px;
    height: 40px;
    margin:  5px 0;
    min-width: 100px;
    transition: .5s all ease-in-out;

    @include button( 'primary', nth( $colors, 1 ) );
    @include button( 'success', nth( $colors, 2 ) );
    @include button( 'danger', nth( $colors, 3 ) );
    @include button( 'dark', nth( $colors, 4 ) );
}