@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;600&display=swap");
.container {
  background: #ff4d4d;
  height: 100px;
  margin: 1rem;
  padding: 1rem;
  width: 100px;
}
.container-big {
  background: #b37400;
  height: 250px;
  margin: 1rem;
  padding: 1rem;
  width: 350px;
}

.jcarlosj-title-primary {
  color: #414352;
  font-size: 1.75rem;
  font-weight: bold;
  font-family: "Gemunu Libre", sans-serif;
  border-bottom: 1px solid #414352;
}

.jcarlosj-title-secondary {
  color: #686b83;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Gemunu Libre", sans-serif;
  border-bottom: 1px dotted #686b83;
}

.jcarlosj-title-light {
  color: rgba(65, 67, 82, 0.4);
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Gemunu Libre", sans-serif;
  border-bottom: 1px dotted rgba(65, 67, 82, 0.4);
}

.btn-primary, .btn-success, .btn-danger {
  border-radius: 5px;
  border-style: none;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  height: 40px;
  margin: 5px 0;
  min-width: 100px;
}
.btn-primary:hover, .btn-success:hover, .btn-danger:hover {
  cursor: pointer;
  background: #f8f8c3;
  color: black;
}

.btn-primary {
  background: #414352;
}
.btn-success {
  background: green;
}
.btn-danger {
  background: red;
}

.btn-outline {
  background-color: transparent;
  font-size: 16px;
  height: 40px;
  margin: 5px 0;
  min-width: 100px;
  transition: 0.5s all ease-in-out;
}
.btn-outline-primary {
  border: 1px solid #414352;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 2px rgba(65, 67, 82, 0.2);
  color: #414352;
  font-size: 16px;
  height: 40px;
  margin: 5px 0;
  min-width: 100px;
  transition: 0.5s all ease-in-out;
}
.btn-outline-primary:hover {
  background-color: #414352;
  color: #fff;
}
.btn-outline-success {
  border: 1px solid green;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 2px rgba(0, 128, 0, 0.2);
  color: green;
  font-size: 16px;
  height: 40px;
  margin: 5px 0;
  min-width: 100px;
  transition: 0.5s all ease-in-out;
}
.btn-outline-success:hover {
  background-color: green;
  color: #fff;
}
.btn-outline-danger {
  border: 1px solid red;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 2px rgba(255, 0, 0, 0.2);
  color: red;
  font-size: 16px;
  height: 40px;
  margin: 5px 0;
  min-width: 100px;
  transition: 0.5s all ease-in-out;
}
.btn-outline-danger:hover {
  background-color: red;
  color: #fff;
}
.btn-outline-dark {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  color: black;
  font-size: 16px;
  height: 40px;
  margin: 5px 0;
  min-width: 100px;
  transition: 0.5s all ease-in-out;
}
.btn-outline-dark:hover {
  background-color: black;
  color: #fff;
}
.btn-outline-blue {
  border: 1px solid #0208d4;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 2px rgba(2, 8, 212, 0.2);
  color: #0208d4;
  font-size: 16px;
  height: 40px;
  margin: 5px 0;
  min-width: 100px;
  transition: 0.5s all ease-in-out;
}
.btn-outline-blue:hover {
  background-color: #0208d4;
  color: #fff;
}
.btn-outline-orange {
  border: 1px solid orange;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 2px rgba(255, 165, 0, 0.2);
  color: orange;
  font-size: 16px;
  height: 40px;
  margin: 5px 0;
  min-width: 100px;
  transition: 0.5s all ease-in-out;
}
.btn-outline-orange:hover {
  background-color: orange;
  color: #fff;
}
.btn-outline-primary {
  border: 1px solid #414352;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 2px rgba(65, 67, 82, 0.2);
  color: #414352;
  font-size: 16px;
  height: 40px;
  margin: 5px 0;
  min-width: 100px;
  transition: 0.5s all ease-in-out;
}
.btn-outline-primary:hover {
  background-color: #414352;
  color: #fff;
}
.btn-outline-secondary {
  border: 1px solid #686b83;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 2px rgba(104, 107, 131, 0.2);
  color: #686b83;
  font-size: 16px;
  height: 40px;
  margin: 5px 0;
  min-width: 100px;
  transition: 0.5s all ease-in-out;
}
.btn-outline-secondary:hover {
  background-color: #686b83;
  color: #fff;
}
.btn-outline-success {
  border: 1px solid green;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 2px rgba(0, 128, 0, 0.2);
  color: green;
  font-size: 16px;
  height: 40px;
  margin: 5px 0;
  min-width: 100px;
  transition: 0.5s all ease-in-out;
}
.btn-outline-success:hover {
  background-color: green;
  color: #fff;
}
.btn-outline-danger {
  border: 1px solid red;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 2px rgba(255, 0, 0, 0.2);
  color: red;
  font-size: 16px;
  height: 40px;
  margin: 5px 0;
  min-width: 100px;
  transition: 0.5s all ease-in-out;
}
.btn-outline-danger:hover {
  background-color: red;
  color: #fff;
}
.btn-outline-light {
  border: 1px solid #f8f8c3;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 2px rgba(248, 248, 195, 0.2);
  color: #f8f8c3;
  font-size: 16px;
  height: 40px;
  margin: 5px 0;
  min-width: 100px;
  transition: 0.5s all ease-in-out;
}
.btn-outline-light:hover {
  background-color: #f8f8c3;
  color: #fff;
}
.btn-outline-dark {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  color: black;
  font-size: 16px;
  height: 40px;
  margin: 5px 0;
  min-width: 100px;
  transition: 0.5s all ease-in-out;
}
.btn-outline-dark:hover {
  background-color: black;
  color: #fff;
}
.btn-outline-blue {
  border: 1px solid #1508d4;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 2px rgba(21, 8, 212, 0.2);
  color: #1508d4;
  font-size: 16px;
  height: 40px;
  margin: 5px 0;
  min-width: 100px;
  transition: 0.5s all ease-in-out;
}
.btn-outline-blue:hover {
  background-color: #1508d4;
  color: #fff;
}
.btn-outline-orange {
  border: 1px solid orange;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 2px rgba(255, 165, 0, 0.2);
  color: orange;
  font-size: 16px;
  height: 40px;
  margin: 5px 0;
  min-width: 100px;
  transition: 0.5s all ease-in-out;
}
.btn-outline-orange:hover {
  background-color: orange;
  color: #fff;
}

.alert-primary, .alert-danger {
  border-radius: 10px;
  color: #f8f8c3;
  font-size: 1.15rem;
  letter-spacing: 5px;
  margin: 0.5rem;
  padding: 15px;
  width: calc(100% - 1rem - 30px);
}
.alert-primary {
  background: #414352;
}
.alert-danger {
  background: #ff6666;
}

.jcarlosj-card {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #686b83;
  margin: 0.5rem 0;
  padding: 0;
  width: 200px;
}
.jcarlosj-card__title {
  line-height: 50px;
  margin: 0;
  padding: 0 0.8rem;
  text-align: center;
}
.jcarlosj-card__content {
  padding: 0 0.8rem;
}
.jcarlosj-card img {
  display: block;
  height: 1 50px;
  width: 100%;
}

.brand::before {
  font-weight: bold;
  content: "jcarlosj ";
}

/*# sourceMappingURL=main.css.map */
